/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&left_encoder { resolution = <2>; };
&right_encoder { resolution = <2>; };

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                           |  Y   |  U    |  I   |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                           |  H   |  J    |  K   |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT  |  | L SHIFT | L SHIFT |  N   |  M    |  ,   |  .   |   /   | CTRL |
//                     | MUTE | DEL  | RET  |  LCMD   |  SPACE   |  |   SPACE   |  RCMD | TAB  | BSPC  | RET  |
			bindings = <
	&kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
	&kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
	              &kp K_MUTE &kp DEL &kp RET &kp LCMD &kp SPACE        &kp SPACE &kp RCMD  &kp TAB &kp BSPC &kp RET
			>;

			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
		};

        f_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  F1 |  F2 |  F3  |  F4  |  F5  |                                            |  F6  | F7  |  F8  |  F9  |  F10  | F11 |
// |  TAB  |  0  |  1  |  2   |  3   |  4   |  5   |                                            |  6  |  7   |  8   |  9    |  0  |
// | SHIFT |     |     |      |      |      |      |       |               |    |        |      |     |      |      |       |     |
//                   | MUTE | DEL  | RET  |  LCMD  |  SPACE  |                  | SPACE  | RCMD | TAB | BSPC | RET |
            bindings = <
    &kp ESC   &kp F1 &kp F2 &kp F3 &kp F4 &kp F5                                           &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11
    &kp TAB   &kp 0  &kp 1  &kp 2  &kp 3  &kp 4                                            &kp 5  &kp 6  &kp 7  &kp 8  &kp 9   &kp 0
    &kp LSHFT &trans &trans &trans &trans &trans &trans &trans         &trans &trans &trans &trans &trans &trans &trans &trans
	              &kp K_MUTE &kp DEL &kp RET &kp LCMD &kp SPACE        &kp SPACE &kp RCMD  &kp TAB &kp BSPC &kp RET
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
